<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="time-sheets" transaction-type="RESOURCE_LOCAL">
        <class>com.haulmont.timesheets.entity.Holiday</class>
        <class>com.haulmont.timesheets.entity.Client</class>
        <class>com.haulmont.timesheets.entity.ProjectRole</class>
        <class>com.haulmont.timesheets.entity.TaskType</class>
        <class>com.haulmont.timesheets.entity.Tag</class>
        <class>com.haulmont.timesheets.entity.TagType</class>
        <class>com.haulmont.timesheets.entity.Project</class>
        <class>com.haulmont.timesheets.entity.Task</class>
        <class>com.haulmont.timesheets.entity.TimeEntry</class>
        <class>com.haulmont.timesheets.entity.ProjectParticipant</class>
        <class>com.haulmont.timesheets.entity.ExtUser</class>
        <class>com.haulmont.timesheets.entity.ActivityType</class>
    </persistence-unit>
</persistence>
