@mixin ts-calendar($primary-stylename: ts-calendar) {

  $ts-all-day-text-color: white;

  .v-calendar .v-calendar-event-time-entry-new:before {
      color: #F0C419;
  }

  .v-calendar .v-calendar-event-time-entry-new-all-day {
    color: $ts-all-day-text-color;
    background-color: #F0C419;
  }

  .v-calendar .v-calendar-event-time-entry-approved:before {
    color: #4EBA6F;
  }

  .v-calendar .v-calendar-event-time-entry-approved-all-day {
    color: $ts-all-day-text-color;
    background-color: #4EBA6F;
  }

  .v-calendar .v-calendar-event-time-entry-rejected:before {
    color: #F15A5A;
  }

  .v-calendar .v-calendar-event-time-entry-rejected-all-day {
    color: $ts-all-day-text-color;
    background-color: #F15A5A;
  }

  .v-calendar .v-calendar-event-time-entry-closed:before {
    color: #F0F0F0;
  }

  .v-calendar .v-calendar-event-time-entry-closed-all-day {
    color: $ts-all-day-text-color;
    background-color: #F0F0F0;
  }

  .v-calendar .v-calendar-event-holiday:before {
    color: #EF525B;
  }

  .v-calendar .v-calendar-event-holiday-all-day {
    color: $ts-all-day-text-color;
    background-color: #EF525B;
  }

  .v-calendar-event-month .v-calendar-event-time {
    display: none;
  }

  .v-calendar .v-calendar-month-day.holiday {
    background: #f8f8f8;
  }

  .v-calendar .v-calendar-month-day-prev-month,.v-calendar .v-calendar-month-day-next-month {
      color:lightgray;
  }

  .v-calendar-month {
    width: 100%;
  }
    
  .v-calendar-header-month {
    padding-bottom: 3px;
    margin-bottom: 1px;
    border-bottom: 1px solid darkgrey;
  }

  .v-calendar-header-day {
    text-align: left;
    padding-left: 9px;
  }

  .v-calendar-header-month td:first-child {
    padding-left: 0px;
  }

  .v-calendar-week-numbers {
    display: none;
  }

  .v-calendar-day-number {
    border-top: 0px;
  }
  
  .v-calendar-day-number:hover {
    cursor: default;
    color: inherit;
  }

  .v-calendar .v-calendar-month-day-today .v-calendar-day-number {    
    line-height: 18px;
    color: inherit;
  }

  .v-calendar .v-calendar-month-day {
    border-bottom: 1px solid #ebf3f9;
    border-left: 1px solid #ebf3f9;
    margin-right: -1px;
  }
    
 .v-calendar .v-calendar-month-day-today {
    background-color: transparent;
 }

 .v-calendar-event-all-day {
  margin-left: -2px;
 }

 .v-calendar-event-start {
  margin-left: 4px;
 }
}