@import "../halo/halo";

@import "components/calendar/calendar";

/* Define your theme modifications inside next mixin */
@mixin halo-ext {
  @include halo;

  @include ts-calendar;

  .v-button-remove {
    color: #F15A5A;
  }

  .v-button-remove:hover {
    color: red;
  }

  .v-table-cell-content-project-open,
  .v-table-cell-content-task-active,
  .v-table-cell-content-time-entry-approved {
    color: #4EBA6F;
  }

  .v-table-cell-content-project-closed,
  .v-table-cell-content-task-inactive,
  .v-table-cell-content-time-entry-rejected {
    color: #F15A5A;
  }

  .v-table-cell-content-time-entry-new {
    color: #F0C419;
  }

  .cuba-datefield-composition-simple .cuba-datefield {
    width: auto !important;
    height: auto;
  }

  .cuba-datefield-composition-simple .cuba-datefield-textfield {
    display: none;
  }

  .cuba-datefield-composition-simple .cuba-datefield [class*="button"] {
    position: relative;
    border: 0px;
    top: 0px;
  }

  .v-table-cell-content-time-entry-new-bg {
    background-image: unquote("linear-gradient(to bottom,#F4F94C 2%,#F5DA4F 98%)");
  }

  .v-table-cell-content-time-entry-approved-bg {
    background-image: unquote("linear-gradient(to bottom,#9BEA7F 2%,#5AE43C 98%)");
  }

  .v-table-cell-content-time-entry-rejected-bg {
    background-image: unquote("linear-gradient(to bottom,#FFC5C5 2%,#FAAFAF 98%)");
  }

  .v-table-cell-content-holiday {
    background: #EF525B;
  }

  .v-table-cell-content-holiday .v-button-link {
    color: white;
  }

  .v-table [class*="-row"].v-selected .v-table-cell-content-holiday,
  .v-table [class*="-row"].v-selected .v-table-cell-content-time-entry-new-bg,
  .v-table [class*="-row"].v-selected .v-table-cell-content-time-entry-approved-bg,
  .v-table [class*="-row"].v-selected .v-table-cell-content-time-entry-rejected-bg {
    border-left-color: #d4d4d4;
  }

  .v-table [class*="-row"].v-selected .v-table-cell-content-time-entry-new-bg .v-button-link,
  .v-table [class*="-row"].v-selected .v-table-cell-content-time-entry-approved-bg .v-button-link,
  .v-table [class*="-row"].v-selected .v-table-cell-content-time-entry-rejected-bg .v-button-link {
    color: #197de1;
  }

  .v-caption-h2 {
    font-size: 14px;
  }

  .ace_editor {
    font-size: 14px;
  }
}