@import "../halo/halo";

@import "components/calendar/calendar";

/* Define your theme modifications inside next mixin */
@mixin halo-ext {
  @include halo;

  @include ts-calendar;

  .v-button-remove {
    color: red;
  }

  .v-button-remove:hover {
    color: green;
  }

  .v-table-cell-content-project-open {
    color: green;
  }

  .v-table [class*="-row"].v-selected .v-table-cell-content-project-open {
    color: lime;
  }

  .v-table-cell-content-project-closed {
    color: red;
  }

  .v-table-cell-content-task-active {
    color: green;
  }

  .v-table [class*="-row"].v-selected .v-table-cell-content-task-active {
    color: lime;
  }

  .v-table-cell-content-task-inactive {
    color: red;
  }

  .v-table-cell-content-time-entry-new {
    color: orange;
  }

  .v-table-cell-content-time-entry-approved {
    color: green;
  }

  .v-table [class*="-row"].v-selected .v-table-cell-content-time-entry-approved {
    color: lime;
  }

  .v-table-cell-content-time-entry-rejected {
    color: red;
  }

  .cuba-datefield-composition-simple .cuba-datefield {
    width: auto !important;
    height: auto;
  }

  .cuba-datefield-composition-simple .cuba-datefield-textfield {
    display: none;
  }

  .cuba-datefield-composition-simple .cuba-datefield [class*="button"] {
    position: relative;
    border: 0px;
    top: 0px;
  }
}